#login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #353535b5;
    padding: 2em;
    min-width: 25vw;
    max-width: 50vw;
    border: #59595991 2px solid;
    border-radius: 15px;
    color: #eee;
}

.overlay {
    background: #141827;
    position: absolute;
    min-height: 100vh;
    overflow: hidden;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100vw
}

.box {
    left: 0;
    top: 0;
    transform: rotate(80deg);
    position: absolute
}

.wave {
    animation: drift 7000ms infinite linear;
    background: #e80c69;
    border-radius: 45%;
    height: calc(100vw*0.85);
    margin-left: -150px;
    margin-top: -250px;
    opacity: .4;
    transform-origin: 50% 48%;
    width: 100vw
}

.wave.-two {
    animation: drift 3000ms infinite linear;
    background: #000;
    opacity: .1;
    position: fixed
}

.wave.-three {
    animation: drift 7500ms infinite linear;
    background-color: #ff77ca;
    position: fixed
}

.box:after {
    content: '';
    display: block;
    height: 100%;
    left: 0;
    top: 0;
    transform: translate3d(0, 0, 0);
    width: 100%;
    z-index: 11
}

@keyframes drift {
    from {
        transform: rotate(0deg)
    }

    from {
        transform: rotate(360deg)
    }
}

#button-container>.container {
    margin: 0.5em
}

#button-container {
    display: grid;
    grid: auto-flow dense/repeat(3, auto);
    padding-bottom: 4em;
    max-width: 60vh
}

#nptu-redux-header {
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center
}

#nptu-redux-header>.header-text {
    font-size: 3em;
    text-decoration: none;
    color: #eee
}


:root {
    --msft-fonts: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, 'Microsoft YaHei', 'Microsoft JhengHei';
    --main-color: #003e38
}

body {
    font-family: var(--msft-fonts);
}

@media screen {
    body {
        font-size: calc(0.75em + 1vmin);
    }
}

@media screen and (min-width:75em) {
    body {
        font-size: 1em;
    }
}

.text.clickable,
.copyable {
    font-size: 1em;
    text-decoration: none;
    transition: text-shadow .3s, text-decoration .3s, font-size .4s
}

.text.clickable:hover,
.copyable:hover {
    font-size: 1.2em;
    vertical-align: top;
    text-decoration: underline;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.35);
    cursor: pointer
}

#module-info {
    text-align: right;
    padding-right: .5em
}

#user-info {
    text-align: left;
    padding-left: .5em
}

.top.header.container .container {
    display: inline-flex
}

.top.header.container .container div {
    display: inline;
    vertical-align: top
}

.top.header.container .btn {
    text-shadow: 1px 1px 1px #000;
    padding-top: .25em
}

.btn {
    font: 3em 'Material Icons', sans-serif;
    cursor: pointer;
    background: none;
    border: none;
    color: #fff;
    padding-right: .1em
}

.btn.hoverable {
    transition: text-shadow .25s
}

.btn.hoverable:hover {
    text-shadow: 0 8px 17px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19)
}

.export-link,
.export-link:hover,
.export-link:active,
.export-link:focus,
.export-link:focus-within {
    text-decoration: none
}

.container:not(.top) {
    margin: .5em
}

.header.container {
    display: flex;
    background-color: var(--main-color);
    color: #fff;
    border-radius: 15px;
    font-size: 1.35em;
    padding: .5em;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2)
}

.header.container:nth-of-type(2n):not(.top) {
    background-color: #b71c1c
}

.header.container:nth-of-type(3n):not(.top) {
    background-color: #154648
}

.main.container {
    margin: 1em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap
}

.sub.container {
    flex-direction: column;
    flex: 2.5
}

.menu.container {
    display: flex;
    flex-direction: column
}

.menu.container,
.alt.container {
    flex: 1
}

.alt.buttons.container.right {
    justify-content: flex-end
}

.alt.buttons.container.left {
    justify-content: flex-start
}

.print.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center
}

.export-section {
    padding: 1em 2em
}

.help .text.container {
    border: solid 1px var(--main-color)
}

.text.container {
    white-space: pre-wrap;
    padding: 1em;
    border-radius: 6px;
    margin: 0 1em
}

.inline-frame {
    border: none
}

.tbl-btn {
    display: block
}

.TRHeaderStyle {
    font-family: "inherit!important";
    background: var(--main-color)
}

.TDItemStyle {
    font-family: "inherit!important";
    min-width: 3em
}

.DgTable {
    transition: box-shadow .3s;
    box-shadow: rgba(0, 0, 0, 0.14) 0 4px 5px 0, rgba(0, 0, 0, 0.12) 0 1px 10px 0, rgba(0, 0, 0, 0.3) 0 2px 4px -1px
}

.DgTable:hover {
    box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2)
}

.title-with-icon.left {
    margin-left: .5em
}

.title-with-icon.right {
    margin-right: .5em
}

.class-option {
    cursor: pointer
}