:root {
    --msft-fonts: 'Microsoft YaHei', 'Microsoft JhengHei', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --school-green: #1b5e20;
}

body {
    font-family: var(--msft-fonts);
}

/* copyable */

.copyable {
    font-size: 100%;
    text-decoration: none;
    transition: text-shadow .3s, text-decoration .3s, font-size .4s;
}

.copyable:hover {
    font-size: 120%;
    text-decoration: underline;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.35);
    cursor: pointer;
}

/* header */

#module-info {
    text-align: right;
    padding-right: .5em;
}

#user-info {
    text-align: left;
    padding-left: .5em;
}

.top.header.container .container {
    display: inline-flex;
}

.top.header.container .container div {
    display: inline;
    vertical-align: top;
}

.top.header.container .material-icons {
    text-shadow: 1px 1px 1px black;
}

.top.header.container .buttons.container label {
    padding-top: .25em;
}

/* buttons */

.btn {
    font-family: 'Material Icons', sans-serif;
    font-size: 3em;
    cursor: pointer;
    background: none;
    border: none;
    color: white;
    padding-right: .1em;
}

.btn.hoverable {
    transition: text-shadow .25s;
}

.btn.hoverable:hover {
    text-shadow: 0 8px 17px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19)
}

/* Print button */

.export-link,
.export-link:hover,
.export-link:active,
.export-link:focus,
.export-link:focus-within {
    text-decoration: none;
}

/* Container */

.container:not(.top) {
    margin: .5em;
}

.header.container {
    display: flex;
    background-color: var(--school-green);
    color: white;
    border-radius: 15px;
    font-size: 1.35em;
    padding: .5em;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.header.container:nth-of-type(2n):not(.top) {
    background-color: #b71c1c;
}

.header.container:nth-of-type(3n):not(.top) {
    background-color: #154648;
}

.main.container {
    margin: 1em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.sub.container {
    flex-direction: column;
    flex: 2.5
}

.menu.container{
    display: flex;
    flex-direction: column;
}

.menu.container,
.alt.container {
    flex: 1;
}

.alt.buttons.container.right {
    justify-content: flex-end;
}

.alt.buttons.container.left {
    justify-content: flex-start;
}

.print.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.export-section {
    padding: 1em 2em;
}

.help .text.container {
    white-space: pre-wrap;
    border: solid 1px var(--school-green);
    padding: 1em;
    border-radius: 6px;
    margin: 0 1em;
}

/* frames */

.inline-frame {
    border: none;
}

/* Table */

.tbl-btn{
    display: block;
}

.TRHeaderStyle {
    font-family: inherit !important;
    background: var(--school-green) !important;
}

.TDItemStyle {
    font-family: inherit !important;
    min-width: 3em;
}

.DgTable {
    transition: box-shadow .3s;
    box-shadow: rgba(0, 0, 0, 0.14) 0 4px 5px 0, rgba(0, 0, 0, 0.12) 0 1px 10px 0, rgba(0, 0, 0, 0.3) 0 2px 4px -1px;
}

.DgTable:hover {
    box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
}

/* misc */
.title-with-icon.left {
    margin-left: .5em;
}

.title-with-icon.right {
    margin-right: .5em;
}